<!DOCTYPE html>
<html>
<head>
	<title>Resolve My Complaint - Customer Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="index">Resolve My Complaint</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link active" href="customer-complaint">Submit a Complaint</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="customer-view">View your complaints</a>
				</li>
			</ul>
		</div>
	</nav>
    <div class="container mt-5">
		<h1>Enter details of your complaint</h1>
		<form method="POST">
			<div class="form-group">
				<label for="complaintTitle">Registered EmailID:</label>
				<input type="text" class="form-control" id="reg_email" placeholder="Enter your registered EmailID" required name="reg_email">
			</div>
			<div class="form-group">
				<label for="complaintTitle">Complaint Title:</label>
				<input type="text" class="form-control" id="title" placeholder="Enter your complaint title" required name="title">
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<textarea class="form-control" id="desc" rows="5" placeholder="Enter your complaint description" required name="desc"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
    {{#if complaintreg }}
    <h4 class="alert alert-danger mt-4">{{complaintreg}}</h4>
{{/if}}
</body>