<!DOCTYPE html>
<html>
<head>
	<title>Resolve My Complaint</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="index">Resolve My Complaint</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
                <li class="nav-item active">
					<a class="nav-link" href="support-dashboard">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="support-view">View  complaints</a>
				</li>
			</ul>
		</div>
	</nav>
<br>
		<h1>Dashboard</h1>
		<div class="row">
		<div class="col-sm-6">
  <div class="card text-white bg-danger mb-3">
  <div class="card-body">
    <h5 class="card-title">Unsolved complaints</h5>
    <p class="card-text">{{ unsolved }}</p>
  </div>
</div>
</div>
	

<div class="col-sm-6">
 <div class="card text-white bg-success mb-3">
  <div class="card-body">
    <h5 class="card-title">Solved complaints</h5>
    <p class="card-text">{{ solved }}</p>
  </div>
</div>

	</div>
	</div>
    </body>